@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.animate-blink {
  animation: blink 2s steps(2, start) infinite;
  -webkit-animation: blink 2s steps(2, start) infinite;
}

/* index.css */

/* Agrega esto a tu archivo CSS principal */
:root {
  --bg-primary: #f9fafb;
  --bg-secondary: #ffffff;
  --text-primary: #111827;
  --text-secondary: #6b7280;
  --border-color: #e5e7eb;
}

[data-theme="dark"] {
  --bg-primary: #111827;
  --bg-secondary: #1f2937;
  --text-primary: #f9fafb;
  --text-secondary: #d1d5db;
  --border-color: #374151;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Clases utilitarias para modo oscuro */



.text-gray-900 {
  color: var(--text-primary);
}

.text-gray-500 {
  color: var(--text-secondary);
}

.text-gray-100 {
  color: var(--text-primary);
}

.text-gray-400 {
  color: var(--text-primary);
}

.border-gray-200 {
  border-color: var(--bg-primary);
}
